@model LazarusJokesDatabase.Models.JokesViewModel

@{
    ViewBag.Title = "Lazarské vtipy";
}

@using (Html.BeginForm("AddJoke", "LazarusJokes", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Přidat vtip</h4>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NewJoke.Author, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NewJoke.Author, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewJoke.Author, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewJoke.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NewJoke.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewJoke.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewJoke.JokeText, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NewJoke.JokeText, new { htmlAttributes = new { @class = "form-control", style = "height:150px; max-width: 800px" } })
            @Html.ValidationMessageFor(model => model.NewJoke.JokeText, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Přidat vtip" />
        </div>
    </div>

    <hr />
}

<h4>Seznam vtipů</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewJoke.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewJoke.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewJoke.JokeText)
        </th>
        <th></th>
    </tr>

    @foreach (var joke in Model.Jokes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => joke.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => joke.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => joke.JokeText)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
